syntax: glob
build.properties
nbproject/private/*
build/*
dist/*
*.class
*~
*.DS_Store
logs/
logs/tcas.log
logs/wbs.log
VeritestingTransformations.iml
src/examples/VeritestingPerf.java
src/examples/VeritestingPerf.jpf
.idea/jpf-symbc-veritesting.iml
.idea/ant.xml
.idea/libraries/build.xml
.idea/libraries/lib.xml
.idea/libraries/tools.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea
*.iml
output/
